<form asp-action="Index">
    
    <label>Nhap vao du lieu: </label>
    <input type="text" placeholder="Nhap du lieu" name="a"> </br> </br>
    <button type="submit">Send</button>
    <h1>@ViewBag.thongBao</h1>

</form>