<form asp-action="Index">
//Tran Thi Kim Dung - 2021050135    
     <label>Nhap vao ho ten: </label>
    <input type="text" placeholder="Nhap ho ten" name="hoTen"> </br> </br>
    <label>Nhap tuoi:</label>
    <input type="text" placehoder="Nhap so tuoi" name="tuoi"> <br><br>
    <button type="submit">Send</button>
    <h1>@ViewBag.thongBao</h1>

</form>