<form asp-action="Index">
<input type="text"name ="PersonID" placeholder="Nhap CCCD">
<input type="text" name="FullName" placeholder="Nhap ho va ten">
<input type="submit" value="Gui du lieu">
</form>
<h1>@ViewBag.thongbao</h1>
//Tran Thi Kim Dung-2021050135