@model DemoMVC.Models.Person

<form asp-action="Index" method="post">
    <label>Nhap vao ho ten: </label>
    <input type="text" asp-for="FullName" placeholder="Nhap ho ten"> </br> </br>
    <label>Nhap dia chi:</label>
    <input type="text" asp-for="Address" placeholder="Nhap dia chi"> <br><br>
    <label>Nhap tuoi:</label>
    <input type="text" asp-for="Age" placeholder="Nhap tuoi"> <br><br>
    <button type="submit">Send</button>
    <h1>@ViewBag.thongBao</h1>
    <h2>Tran Thi Kim Dung - 2021050135</h2>
</form>